#* Dependencies
node_modules/

#* Environment variables (secrets)
.env
.env.*
!.env.example

#* Build output
dist/
build/

#* Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#* TypeScript cache
*.tsbuildinfo

#* OS files
.DS_Store
Thumbs.db

#* IDE / Editor folders
.vscode/
.idea/

#* Temporary files
tmp/
temp/

#* Test coverage (if you add testing later)
coverage/

uploads/